img{
    --s: 250px;
    --b: 8px;
    --g: 15px;
    --c: #ffff;

    width: var(--s);
    aspect-ratio: 1;
    outline: calc(var(--s)/2) solid #0009;
    outline-offset: calc(var(--s)/2);
    cursor: pointer;
    transition: 0.5s;
}
 img:hover{
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
 }

 img{
    border-radius: 50%;
 }

 body{
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-auto-flow: colum;
    gap: 50px;
    place-content: center;
    place-items: center;
    background: black;
 }